body{
    background-color: aquamarine;
}
.body{ 
    display: flex;
    height: auto;
    width: 600px; 
    margin-left: auto;
    margin-right: auto;
    /*background-color: aqua;*/    
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black 0.8px 0.8px;
    /*background-color: red;*/
}
p.txt{
    /*background-color: blueviolet;*/
    position: relative;
    top: -12px;
    font-size: 20px;
    text-shadow: black 0.2px 0.2px;
}
p.nome, .sobrenome{
    /*background-color: blue;*/
    width: 50%;
}
p.sobrenome{
    position: relative;
    top: -55px;
    left: 50%;
    width: 48%;
    /*background-color: red;*/
}
#box{
    border-radius: 4px;
    box-shadow: black 0.8px 0.8px;
    width: 95%;
}
#boxemail{
    border-radius: 4px;
    box-shadow: black 0.8px 0.8px;
    width: 47.3%;
}
p.email{
    /*background-color: brown;*/
    position: relative;
    top: -60px;
}
p.quest{
    font-size: 20px;
    font-style: bold;
    text-shadow: black 0.2px 0.2px; 
}
.ends ul li{
    list-style: none;
    position: relative;
    right: 45px;
}
input.btn{
    position: relative;
    left: 170px;
    top: 25px;
    background-color: blueviolet;
    width: 265px;
    height: 35px;
    border-radius: 4px;
}